.header {
  background-color: grey;
}

.videos {
  margin-bottom: 40px;
  margin-left: 40px;
  box-shadow: 0 0 10px darkgray;
  padding-bottom: 15px;
}

.videos:hover {
  box-shadow: 0 0 15px black;
}

.allVideos {
  flex: 0.8;
  display: flex;
  flex-wrap: wrap;
}
.outer-div {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.videos .v-thumb {
  height: 180px;
  width: 300px;
}
